In [1]:
import pandas as pd

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import sklearn
import folium

from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import mean_squared_error

import eli5
# import lime
# import lime.lime_tabular
# import shap

C:\Users\Zhe Hao\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
Using TensorFlow backend.

In [97]:
df1 = pd.read_csv("AB_NYC_2019.csv")

In [98]:

folium_map = folium.Map(location=[40.738, -73.98],
                        zoom_start=13,
                        tiles="CartoDB dark_matter")

# folium.CircleMarker(location=[40.738, -73.98],fill=True).add_to(folium_map)
folium_map

In [99]:
df1.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [100]:
max(df1.price)

10000

In [101]:
np.mean(df1.price)

152.7206871868289

In [102]:
# df1.groupby("neighbourhood").count()

In [103]:
("test %") % 123

ValueError: incomplete format

In [104]:
color_dict = {"Bronx": "red",
             "Brooklyn": "blue",
             "Manhattan": "green",
             "Queens": "orange",
             "Staten Island": "purple"}

In [105]:
# max_price = max(df1.price)
mean_price = np.mean(df1.price)
for idx, row in df1[['price','longitude','latitude','neighbourhood_group','name','host_name','room_type','number_of_reviews','neighbourhood']].iterrows():
    price = row[0]
    long = row[1]
    lat = row[2]
    group = row[3]
    listing_name = row[4]
    host = row[5]
    room = row[6]
    no_reviews = row[7]
    neighbourhood = row[8]
    
    popup_text = (
        "Price: {price}<br>"
        "Room Type: {room}<br>"
        "Neighbourhood: {neighbourhood}<br>"
        "No. of Reviews: {no_reviews}<br>").format(price =price, room= room, neighbourhood = neighbourhood, no_reviews = no_reviews)
#     popup_text = ("Price: $ %s \n Room Type: %s \n Neighbourhood: %s \n No. of Reviews: %s ")  % (price, room, neighbourhood, no_reviews)
    folium.CircleMarker(location=(lat,
                                    long),
                                # mean normalization of price
                                radius= price/mean_price,
                                color=color_dict[group],
                                popup=popup_text,
                                fill=True).add_to(folium_map)
    if idx == 10000: break

In [106]:
m = folium_map
html_string = m.get_root().render()

In [107]:
# html_string

In [108]:
import os
file1 = open("test.txt", 'w')
file1.write(html_string)
file1.close()

In [75]:
file1.close()